django
channels
drf-yasg
djangorestframework 
python-decouple
Pillow
celery
postgres
psycopg2-binary
psycopg2-pool
djangorestframework-simplejwt
django-cors-headers
dj-database-url
sentry-sdk
channels-redis 
redis
django-storages
boto3
django-celery-beat
django-celery-results
django-timezone-field
asyncio
daphne